In [137]:
from pyhive  import  hive
from pyhive import  presto

In [138]:
conn = hive.Connection(host="localhost",port=10000,username="value",database="default")

In [139]:
cnx = conn.cursor()

In [140]:
cnx.execute("select * from O_T24_USER")

In [141]:
newods = cnx.fetchall()

In [142]:
print(newods)

[('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', '2021-08-12', '2021-08-12', 'null'), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', '2021-08-12', '2021-08-12', 'null'), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', '2021-08-12', '2021-08-12', 'null'), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', '2021-08-12', '2021-08-12', 'null'), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', '2021-08-12', '2021-08-12', 'null'), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', '2021-08-12', '2021-08-12', 'null'), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', '2021-08-12', '2021-08-12', 'null')]

In [143]:
import pyspark
from pyspark.sql import SparkSession

In [144]:
spark = SparkSession.builder.getOrCreate()

In [145]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *

In [146]:
df1= spark.createDataFrame(newods,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DAT_SIT','DAT_CHG','DAT_CSO'])

In [147]:
df1.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+-------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|   DAT_CHG|DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|   null|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|   null|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|   null|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|   null|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|   null|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|   null|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|   null|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+

In [148]:
df1.printSchema()

root
 |-- ID_A: string (nullable = true)
 |-- USER_NAME_A: string (nullable = true)
 |-- DEPARTMENT_CODE: string (nullable = true)
 |-- INIT_APPLICATION: string (nullable = true)
 |-- EMAIL_A: string (nullable = true)
 |-- DAT_SIT: string (nullable = true)
 |-- DAT_CHG: string (nullable = true)
 |-- DAT_CSO: string (nullable = true)

In [149]:
from pyspark.sql.functions import *

In [150]:
import time
import datetime

In [151]:
ods = df1.withColumn('DAT_CSO', regexp_replace('DAT_CSO','null','0'))

In [152]:
ods.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+-------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|   DAT_CHG|DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|      0|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|      0|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|      0|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|      0|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|      0|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|      0|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|      0|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+

In [153]:
newdf = ods.withColumn("DAT_CSO",to_date(current_timestamp()))

In [154]:
newdf.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|   DAT_CHG|   DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+

In [155]:
import pyspark.sql.functions as f

In [156]:
newdf.coalesce(1).write.csv("hdfs://master.com:8020/user/value/ods-user.csv")

In [157]:
cnx.execute("load data  INPATH 'hdfs://master.com:8020/user/value/ods-user.csv' overwrite into table O_T24_USER")

In [158]:
cnx.execute("select * from O_T24_USER")

In [159]:

newschema = cnx.fetchall()

In [160]:
print(newschema)

[('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', '2021-08-12', '2021-08-12', '2021-08-12'), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', '2021-08-12', '2021-08-12', '2021-08-12'), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', '2021-08-12', '2021-08-12', '2021-08-12'), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', '2021-08-12', '2021-08-12', '2021-08-12'), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', '2021-08-12', '2021-08-12', '2021-08-12'), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', '2021-08-12', '2021-08-12', '2021-08-12'), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', '2021-08-12', '2021-08-12', '2021-08-12')]

In [161]:
df1= spark.createDataFrame(newschema,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DAT_SIT','DAT_CHG','DAT_CSO'])

In [162]:
df1.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|   DAT_CHG|   DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+

In [163]:
edd1=df1.select("ID_A","USER_NAME_A","DEPARTMENT_CODE","INIT_APPLICATION","EMAIL_A","DAT_SIT","DAT_CHG","DAT_CSO")

In [164]:
edd1.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|   DAT_CHG|   DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+

In [165]:
eddschema=edd1.withColumnRenamed("DAT_SIT","DATDEBVLD")

In [166]:
eddschema.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD|   DAT_CHG|   DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|2021-08-12|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+

In [167]:
eddmod=eddschema.select("ID_A","USER_NAME_A","DEPARTMENT_CODE","INIT_APPLICATION","EMAIL_A","DATDEBVLD")
eddmod.show()

+-------+-----------+---------------+----------------+------------------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD|
+-------+-----------+---------------+----------------+------------------+----------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|
+-------+-----------+---------------+----------------+------------------+----------+

In [168]:
eddmod = eddmod.withColumn("DATFINVLD",lit("9999-12-31")).withColumn("DAT_CHG",to_date(current_timestamp())).withColumn("Dersit",lit(1))

In [169]:
eddmod.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+

In [170]:
eddmod.coalesce(1).write.csv("hdfs://master.com:8020/user/value/edd/hdfs-edduser.csv")

In [171]:
eddmod.printSchema()

root
 |-- ID_A: string (nullable = true)
 |-- USER_NAME_A: string (nullable = true)
 |-- DEPARTMENT_CODE: string (nullable = true)
 |-- INIT_APPLICATION: string (nullable = true)
 |-- EMAIL_A: string (nullable = true)
 |-- DATDEBVLD: string (nullable = true)
 |-- DATFINVLD: string (nullable = false)
 |-- DAT_CHG: date (nullable = false)
 |-- Dersit: integer (nullable = false)

In [172]:
edd_load = spark.read.option("header","true").csv('hdfs://master.com:8020/user/value/edd/hdfs-edduser.csv')
edd_load.show()

+-------+------+---+----+------------------+-----------+----------+-----------+---+
|B-00001|B00001|555|?278|B00001@biat.com.tn|2021-08-125|9999-12-31|2021-08-127|  1|
+-------+------+---+----+------------------+-----------+----------+-----------+---+
|B-00002|B00002| 35|?233|B00002@biat.com.tn| 2021-08-12|9999-12-31| 2021-08-12|  1|
|B-00003|B00003|299|?202|B00003@biat.com.tn| 2021-08-12|9999-12-31| 2021-08-12|  1|
|B-00004|B00004| 41|?265|B00004@biat.com.tn| 2021-08-12|9999-12-31| 2021-08-12|  1|
|B-00005|B00005|605|?266|B00005@biat.com.tn| 2021-08-12|9999-12-31| 2021-08-12|  1|
|B-00006|B00006|125|?233|B00006@biat.com.tn| 2021-08-12|9999-12-31| 2021-08-12|  1|
|B-00007|B00007|103|?202|B00007@biat.com.tn| 2021-08-12|9999-12-31| 2021-08-12|  1|
+-------+------+---+----+------------------+-----------+----------+-----------+---+

In [173]:
cnx.execute("CREATE TABLE  edduser ( ID_A string, USER_NAME_A string, DEPARTMENT_CODE string, INIT_APPLICATION string, EMAIL_A string,DATDEBVLD date,DATFINVLD date,DAT_CHG date ,Dersit integer)ROW FORMAT DELIMITED FIELDS TERMINATED BY ','")

OperationalError: TExecuteStatementResp(status=TStatus(statusCode=3, infoMessages=['*org.apache.hive.service.cli.HiveSQLException:Error while compiling statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.ddl.DDLTask. AlreadyExistsException(message:Table hive.default.edduser already exists):28:27', 'org.apache.hive.service.cli.operation.Operation:toSQLException:Operation.java:362', 'org.apache.hive.service.cli.operation.SQLOperation:runQuery:SQLOperation.java:241', 'org.apache.hive.service.cli.operation.SQLOperation:runInternal:SQLOperation.java:263', 'org.apache.hive.service.cli.operation.Operation:run:Operation.java:274', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatementInternal:HiveSessionImpl.java:565', 'org.apache.hive.service.cli.session.HiveSessionImpl:executeStatement:HiveSessionImpl.java:540', 'sun.reflect.GeneratedMethodAccessor43:invoke::-1', 'sun.reflect.DelegatingMethodAccessorImpl:invoke:DelegatingMethodAccessorImpl.java:43', 'java.lang.reflect.Method:invoke:Method.java:498', 'org.apache.hive.service.cli.session.HiveSessionProxy:invoke:HiveSessionProxy.java:78', 'org.apache.hive.service.cli.session.HiveSessionProxy:access$000:HiveSessionProxy.java:36', 'org.apache.hive.service.cli.session.HiveSessionProxy$1:run:HiveSessionProxy.java:63', 'java.security.AccessController:doPrivileged:AccessController.java:-2', 'javax.security.auth.Subject:doAs:Subject.java:422', 'org.apache.hadoop.security.UserGroupInformation:doAs:UserGroupInformation.java:1898', 'org.apache.hive.service.cli.session.HiveSessionProxy:invoke:HiveSessionProxy.java:59', 'com.sun.proxy.$Proxy38:executeStatement::-1', 'org.apache.hive.service.cli.CLIService:executeStatement:CLIService.java:285', 'org.apache.hive.service.cli.thrift.ThriftCLIService:ExecuteStatement:ThriftCLIService.java:568', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1557', 'org.apache.hive.service.rpc.thrift.TCLIService$Processor$ExecuteStatement:getResult:TCLIService.java:1542', 'org.apache.thrift.ProcessFunction:process:ProcessFunction.java:39', 'org.apache.thrift.TBaseProcessor:process:TBaseProcessor.java:39', 'org.apache.hive.service.auth.TSetIpAddressProcessor:process:TSetIpAddressProcessor.java:56', 'org.apache.thrift.server.TThreadPoolServer$WorkerProcess:run:TThreadPoolServer.java:286', 'java.util.concurrent.ThreadPoolExecutor:runWorker:ThreadPoolExecutor.java:1149', 'java.util.concurrent.ThreadPoolExecutor$Worker:run:ThreadPoolExecutor.java:624', 'java.lang.Thread:run:Thread.java:748', '*org.apache.hadoop.hive.ql.metadata.HiveException:AlreadyExistsException(message:Table hive.default.edduser already exists):42:15', 'org.apache.hadoop.hive.ql.metadata.Hive:createTable:Hive.java:1136', 'org.apache.hadoop.hive.ql.metadata.Hive:createTable:Hive.java:1144', 'org.apache.hadoop.hive.ql.ddl.table.create.CreateTableOperation:createTableNonReplaceMode:CreateTableOperation.java:140', 'org.apache.hadoop.hive.ql.ddl.table.create.CreateTableOperation:execute:CreateTableOperation.java:98', 'org.apache.hadoop.hive.ql.ddl.DDLTask:execute:DDLTask.java:80', 'org.apache.hadoop.hive.ql.exec.Task:executeTask:Task.java:213', 'org.apache.hadoop.hive.ql.exec.TaskRunner:runSequential:TaskRunner.java:105', 'org.apache.hadoop.hive.ql.Executor:launchTask:Executor.java:357', 'org.apache.hadoop.hive.ql.Executor:launchTasks:Executor.java:330', 'org.apache.hadoop.hive.ql.Executor:runTasks:Executor.java:246', 'org.apache.hadoop.hive.ql.Executor:execute:Executor.java:109', 'org.apache.hadoop.hive.ql.Driver:runInternal:Driver.java:740', 'org.apache.hadoop.hive.ql.Driver:run:Driver.java:495', 'org.apache.hadoop.hive.ql.Driver:run:Driver.java:489', 'org.apache.hadoop.hive.ql.reexec.ReExecDriver:run:ReExecDriver.java:166', 'org.apache.hive.service.cli.operation.SQLOperation:runQuery:SQLOperation.java:225', '*org.apache.hadoop.hive.metastore.api.AlreadyExistsException:Table hive.default.edduser already exists:62:20', 'org.apache.hadoop.hive.metastore.api.ThriftHiveMetastore$create_table_req_result$create_table_req_resultStandardScheme:read:ThriftHiveMetastore.java:63725', 'org.apache.hadoop.hive.metastore.api.ThriftHiveMetastore$create_table_req_result$create_table_req_resultStandardScheme:read:ThriftHiveMetastore.java:63711', 'org.apache.hadoop.hive.metastore.api.ThriftHiveMetastore$create_table_req_result:read:ThriftHiveMetastore.java:63637', 'org.apache.thrift.TServiceClient:receiveBase:TServiceClient.java:86', 'org.apache.hadoop.hive.metastore.api.ThriftHiveMetastore$Client:recv_create_table_req:ThriftHiveMetastore.java:1792', 'org.apache.hadoop.hive.metastore.api.ThriftHiveMetastore$Client:create_table_req:ThriftHiveMetastore.java:1779', 'org.apache.hadoop.hive.metastore.HiveMetaStoreClient:create_table_with_environment_context:HiveMetaStoreClient.java:3535', 'org.apache.hadoop.hive.ql.metadata.SessionHiveMetaStoreClient:create_table_with_environment_context:SessionHiveMetaStoreClient.java:145', 'org.apache.hadoop.hive.metastore.HiveMetaStoreClient:createTable:HiveMetaStoreClient.java:1052', 'org.apache.hadoop.hive.metastore.HiveMetaStoreClient:createTable:HiveMetaStoreClient.java:1037', 'sun.reflect.GeneratedMethodAccessor67:invoke::-1', 'sun.reflect.DelegatingMethodAccessorImpl:invoke:DelegatingMethodAccessorImpl.java:43', 'java.lang.reflect.Method:invoke:Method.java:498', 'org.apache.hadoop.hive.metastore.RetryingMetaStoreClient:invoke:RetryingMetaStoreClient.java:213', 'com.sun.proxy.$Proxy35:createTable::-1', 'sun.reflect.GeneratedMethodAccessor67:invoke::-1', 'sun.reflect.DelegatingMethodAccessorImpl:invoke:DelegatingMethodAccessorImpl.java:43', 'java.lang.reflect.Method:invoke:Method.java:498', 'org.apache.hadoop.hive.metastore.HiveMetaStoreClient$SynchronizedHandler:invoke:HiveMetaStoreClient.java:3428', 'com.sun.proxy.$Proxy35:createTable::-1', 'org.apache.hadoop.hive.ql.metadata.Hive:createTable:Hive.java:1128'], sqlState='08S01', errorCode=1, errorMessage='Error while compiling statement: FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.ddl.DDLTask. AlreadyExistsException(message:Table hive.default.edduser already exists)'), operationHandle=None)

In [174]:
cnx.execute("load data  INPATH 'hdfs://master.com:8020/user/value/edd/hdfs-edduser.csv' overwrite into table edduser")

In [175]:
cnx.execute("select * from edduser")

In [176]:
newschema = cnx.fetchall()

In [177]:
print(newschema)

[('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1)]

In [178]:
edd2 = spark.createDataFrame(newschema,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DATDEBVLD','DATFINVLD','DAT_CHG','Dersit'])

In [179]:
edd2.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+