In [14]:
from pyhive  import  hive
from pyhive import  presto

In [15]:
conn = hive.Connection(host="localhost",port=10000,username="value",database="default")

In [16]:
cnx = conn.cursor()

In [17]:
cnx.execute("select * from O_T24_USER")

In [18]:
hiveods = cnx.fetchall()

In [19]:
print(hiveods)

[('B-00001', 'B000211', '222', '?255', 'B00001@biat.com.tn', '2021-08-18', '2021-08-18', 'null'), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', '2021-08-18', '2021-08-18', 'null'), ('B-00008', 'B00008', '125', '?233', 'B00008@biat.com.tn', '2021-08-18', '2021-08-18', 'null'), ('B-00009', 'B00009', '105', '?105', 'B00009@biat.com.tn', '2021-08-18', '2021-08-18', 'null'), ('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', '2021-08-18', '2021-08-18', '2021-08-18'), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', '2021-08-18', '2021-08-18', '2021-08-18'), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', '2021-08-18', '2021-08-18', '2021-08-18'), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', '2021-08-18', '2021-08-18', '2021-08-18'), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', '2021-08-18', '2021-08-18', '2021-08-18'), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', '2021-08-18', '2021-08-18', '2021-08-18'), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', '2021-08-18', '2021-08-18', '2021-08-18')]

In [20]:
import pyspark
from pyspark.sql import SparkSession

In [21]:
spark = SparkSession.builder.getOrCreate()

In [22]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *

In [23]:
df1= spark.createDataFrame(hiveods,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DAT_SIT','DAT_CHG','DAT_CSO'])

In [24]:
df1.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|   DAT_CHG|   DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|2021-08-18|2021-08-18|      null|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-18|2021-08-18|      null|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|2021-08-18|2021-08-18|      null|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|2021-08-18|2021-08-18|      null|
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-18|2021-08-18|2021-08-18|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-18|2021-08-18|2021-08-18|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-18|2021-08-18|2021-08-18|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-18|2021-08-18|2021-08-18|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-18|2021-08-18|2021-08-18|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-18|2021-08-18|2021-08-18|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-18|2021-08-18|2021-08-18|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+

In [25]:
edd1 = df1.select("ID_A","USER_NAME_A","DEPARTMENT_CODE","INIT_APPLICATION","EMAIL_A").where("DAT_CSO == 'null'")

In [26]:
edd1.show()

+-------+-----------+---------------+----------------+------------------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|
+-------+-----------+---------------+----------------+------------------+
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|
+-------+-----------+---------------+----------------+------------------+

In [63]:
import pyspark.sql.functions as F
datadeb=df1.select(F.date_sub('DAT_SIT',1).alias('DAT_SIT')).where("DAT_CSO == 'null'")
datadeb.collect()[0]
datadeb.show(1)
daty = datadeb.first()['DAT_SIT']
print(daty)

+----------+
|   DAT_SIT|
+----------+
|2021-08-17|
+----------+
only showing top 1 row

2021-08-17

In [64]:
edd1.dtypes

[('ID_A', 'string'),
 ('USER_NAME_A', 'string'),
 ('DEPARTMENT_CODE', 'string'),
 ('INIT_APPLICATION', 'string'),
 ('EMAIL_A', 'string')]

In [65]:
cnx.execute("select * from edduser")

In [66]:
newschema = cnx.fetchall()

In [67]:
print(newschema)

[('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', '2021-08-18', '9999-12-31', '2021-08-18', 1, 1), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', '2021-08-18', '9999-12-31', '2021-08-18', 1, 2), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', '2021-08-18', '9999-12-31', '2021-08-18', 1, 3), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', '2021-08-18', '9999-12-31', '2021-08-18', 1, 4), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', '2021-08-18', '9999-12-31', '2021-08-18', 1, 5), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', '2021-08-18', '9999-12-31', '2021-08-18', 1, 6), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', '2021-08-18', '9999-12-31', '2021-08-18', 1, 7)]

In [79]:
edd2= spark.createDataFrame(newschema,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DATDEBVLD','DATFINVLD','DAT_CHG','Dersit','CDR'])

In [80]:
edd2.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|CDR|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  1|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  2|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  3|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  4|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  5|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  6|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  7|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+

In [81]:
edd2.printSchema()

root
 |-- ID_A: string (nullable = true)
 |-- USER_NAME_A: string (nullable = true)
 |-- DEPARTMENT_CODE: string (nullable = true)
 |-- INIT_APPLICATION: string (nullable = true)
 |-- EMAIL_A: string (nullable = true)
 |-- DATDEBVLD: string (nullable = true)
 |-- DATFINVLD: string (nullable = true)
 |-- DAT_CHG: string (nullable = true)
 |-- Dersit: long (nullable = true)
 |-- CDR: long (nullable = true)

In [82]:
edd1.printSchema()

root
 |-- ID_A: string (nullable = true)
 |-- USER_NAME_A: string (nullable = true)
 |-- DEPARTMENT_CODE: string (nullable = true)
 |-- INIT_APPLICATION: string (nullable = true)
 |-- EMAIL_A: string (nullable = true)

In [83]:
from pyspark.sql.functions import col,array,when, array_remove,lit
from pyspark.sql.functions import *

conditions_ = [when(edd1[c]!= edd2[c], lit(c)).otherwise("") for c in edd1.columns if c != 'ID_A']
select_expr = [ 
    col("ID_A"),
    *[edd2[c] for c in edd2.columns if c != 'ID_A']
]
p=edd2.join(edd1,"ID_A").select(*select_expr)
updatafiate = p.filter(p.ID_A == "B-00001")
updatafiate.show()
ods = updatafiate.withColumn('Dersit', regexp_replace('Dersit','1','0')).withColumn('DATFINVLD', regexp_replace('DATFINVLD','9999-12-31',str(daty)))
ods.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|CDR|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  1|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|CDR|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-18|2021-08-17|2021-08-18|     0|  1|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+

In [84]:
oldedd=edd2.withColumn('New_col',
                     when(edd2.ID_A != "B-00001", "True")
                     
                     ).filter("New_col == True").drop("New_col")
dataset = oldedd.union(ods)
oldedd.union(ods).show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|CDR|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  2|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  3|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  4|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  5|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  6|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|  7|
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-18|2021-08-17|2021-08-18|     0|  1|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+---+

In [85]:
oldods=edd1.withColumn('New_col',
                     when(edd1.ID_A != "B-00002", "True")
                     
                     ).filter("New_col == True").drop("New_col")
oldods.show()

+-------+-----------+---------------+----------------+------------------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|
+-------+-----------+---------------+----------------+------------------+
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|
+-------+-----------+---------------+----------------+------------------+

In [86]:
newedd = oldods.withColumn("DATDEBVLD",to_date(current_timestamp())).withColumn("DATFINVLD",lit("9999-12-31")).withColumn("DAT_CHG",to_date(current_timestamp())).withColumn("Dersit",lit(1))

In [87]:
newedd.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|2021-08-18|9999-12-31|2021-08-18|     1|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+

In [99]:
A=newedd.join(edd2,newedd['ID_A']==edd2['ID_A'],'inner').select(newedd.ID_A).where(newedd['ID_A'].isNotNull())

In [102]:
newedd.join(edd2,newedd['ID_A']==edd2['ID_A'],'left').select(newedd.ID_A).where(newedd['ID_A'].isNull()).show()

+----+
|ID_A|
+----+
|null|
|null|
|null|
|null|
|null|
|null|
+----+

In [ ]:
newedd.USER_NAME_A,newedd.DEPARTMENT_CODE,newedd.INIT_APPLICATION,newedd.EMAIL_A,newedd.DATDEBVLD,newedd.DATFINVLD,newedd.DAT_CHG,newedd.Dersit

In [88]:
dataset.union(newedd).show()
finaledd  = dataset.union(newedd)

AnalysisException: "Union can only be performed on tables with the same number of columns, but the first table has 10 columns and the 2th table has 9 columns;;\n'Union\n:- Project [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#552, DAT_CHG#553, cast(Dersit#554L as string) AS Dersit#727, CDR#555L]\n:  +- Project [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#552, DAT_CHG#553, Dersit#554L, CDR#555L]\n:     +- Filter (cast(New_col#705 as boolean) = true)\n:        +- Project [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#552, DAT_CHG#553, Dersit#554L, CDR#555L, CASE WHEN NOT (ID_A#546 = B-00001) THEN True END AS New_col#705]\n:           +- LogicalRDD [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#552, DAT_CHG#553, Dersit#554L, CDR#555L], false\n:- Project [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#663, DAT_CHG#553, Dersit#652, CDR#555L]\n:  +- Project [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, regexp_replace(DATFINVLD#552, 9999-12-31, 2021-08-17) AS DATFINVLD#663, DAT_CHG#553, Dersit#652, CDR#555L]\n:     +- Project [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#552, DAT_CHG#553, regexp_replace(cast(Dersit#554L as string), 1, 0) AS Dersit#652, CDR#555L]\n:        +- Filter (ID_A#546 = B-00001)\n:           +- Project [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#552, DAT_CHG#553, Dersit#554L, CDR#555L]\n:              +- Project [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#552, DAT_CHG#553, Dersit#554L, CDR#555L, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66]\n:                 +- Join Inner, (ID_A#546 = ID_A#62)\n:                    :- LogicalRDD [ID_A#546, USER_NAME_A#547, DEPARTMENT_CODE#548, INIT_APPLICATION#549, EMAIL_A#550, DATDEBVLD#551, DATFINVLD#552, DAT_CHG#553, Dersit#554L, CDR#555L], false\n:                    +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66]\n:                       +- Filter (DAT_CSO#69 = null)\n:                          +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, DAT_CSO#69]\n:                             +- LogicalRDD [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, DAT_SIT#67, DAT_CHG#68, DAT_CSO#69], false\n+- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, DATDEBVLD#818, DATFINVLD#825, DAT_CHG#833, 1 AS Dersit#842]\n   +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, DATDEBVLD#818, DATFINVLD#825, to_date(current_timestamp(), None) AS DAT_CHG#833]\n      +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, DATDEBVLD#818, 9999-12-31 AS DATFINVLD#825]\n         +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, to_date(current_timestamp(), None) AS DATDEBVLD#818]\n            +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66]\n               +- Filter (cast(New_col#790 as boolean) = true)\n                  +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, CASE WHEN NOT (ID_A#62 = B-00002) THEN True END AS New_col#790]\n                     +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66]\n                        +- Filter (DAT_CSO#69 = null)\n                           +- Project [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, DAT_CSO#69]\n                              +- LogicalRDD [ID_A#62, USER_NAME_A#63, DEPARTMENT_CODE#64, INIT_APPLICATION#65, EMAIL_A#66, DAT_SIT#67, DAT_CHG#68, DAT_CSO#69], false\n"

In [77]:
finaledd.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     0|
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+

In [78]:
finaledd.coalesce(1).write.csv("hdfs://master.com:8020/user/value/edd/hdfs-FINALEDD.csv")

In [79]:
df_hdfs = spark.read.option("header","true").option("delimiter",",").option("inferSchema","true").csv("hdfs://master.com:8020/user/value/edd/hdfs-FINALEDD.csv")

In [80]:
df_hdfs.show()

+-------+-------+---+----+------------------+-------------------+-------------------+-------------------+---+
|B-00002| B00002| 35|?233|B00002@biat.com.tn|        2021-08-125|         9999-12-31|        2021-08-127|  1|
+-------+-------+---+----+------------------+-------------------+-------------------+-------------------+---+
|B-00003| B00003|299|?202|B00003@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  1|
|B-00004| B00004| 41|?265|B00004@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  1|
|B-00005| B00005|605|?266|B00005@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  1|
|B-00006| B00006|125|?233|B00006@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  1|
|B-00007| B00007|103|?202|B00007@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  1|
|B-00001| B00001|555|?278|B00001@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  0|
|B-00001|B000211|222|?255|B00001@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  1|
|B-00008| B00008|125|?233|B00008@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  1|
|B-00009| B00009|105|?105|B00009@biat.com.tn|2021-08-12 00:00:00|9999-12-31 00:00:00|2021-08-12 00:00:00|  1|
+-------+-------+---+----+------------------+-------------------+-------------------+-------------------+---+

In [81]:

cnx.execute("load data  INPATH 'hdfs://master.com:8020/user/value/edd/hdfs-FINALEDD.csv' overwrite into table edduser")

In [82]:
cnx.execute("select * from edduser")

In [83]:
eddfinal = cnx.fetchall()

In [84]:
print(eddfinal)

[('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 0), ('B-00001', 'B000211', '222', '?255', 'B00001@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00008', 'B00008', '125', '?233', 'B00008@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1), ('B-00009', 'B00009', '105', '?105', 'B00009@biat.com.tn', '2021-08-12', '9999-12-31', '2021-08-12', 1)]

In [85]:
hiveEdd = spark.createDataFrame(eddfinal,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DATDEBVLD','DATFINVLD','DAT_CHG','Dersit'])

In [86]:
hiveEdd.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD| DATFINVLD|   DAT_CHG|Dersit|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     0|
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|2021-08-12|9999-12-31|2021-08-12|     1|
+-------+-----------+---------------+----------------+------------------+----------+----------+----------+------+

In [115]:
def are_dfs_equal(df1, df2):
    if df1.schema != df2.schema:
        return False
    if df1.collect() != df2.collect():
        return False
    return True
are_dfs_equal(edd2,edd1)

False

In [127]:
import pyspark.sql.functions as f

columns = edd1.columns
df3 = edd1.alias("d1").join(edd2.alias("d2"), f.col("d1.ID_A") == f.col("d2.ID_A"), "left")
df3.show()

+-------+-----------+---------------+----------------+------------------+-------+-----------+---------------+----------------+------------------+----------+----------+------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD|    DATCHG|Dersit|
+-------+-----------+---------------+----------------+------------------+-------+-----------+---------------+----------------+------------------+----------+----------+------+
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04|2021-08-04|     1|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|   null|       null|           null|            null|              null|      null|      null|  null|
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-04|2021-08-04|     1|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|   null|       null|           null|            null|              null|      null|      null|  null|
+-------+-----------+---------------+----------------+------------------+-------+-----------+---------------+----------------+------------------+----------+----------+------+

In [129]:
edd2.join(edd1,"ID_A").show()

+-------+-----------+---------------+----------------+------------------+----------+----------+------+-----------+---------------+----------------+------------------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD|    DATCHG|Dersit|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|
+-------+-----------+---------------+----------------+------------------+----------+----------+------+-----------+---------------+----------------+------------------+
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04|2021-08-04|     1|     B00002|             35|            ?233|B00002@biat.com.tn|
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-04|2021-08-04|     1|    B000211|            222|            ?255|B00001@biat.com.tn|
+-------+-----------+---------------+----------------+------------------+----------+----------+------+-----------+---------------+----------------+------------------+

In [130]:
edd1.join(edd2,edd1.ID_A ==  edd2.ID_A,"inner") \
     .show(truncate=False)

+-------+-----------+---------------+----------------+------------------+-------+-----------+---------------+----------------+------------------+----------+----------+------+
|ID_A   |USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|EMAIL_A           |ID_A   |USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|EMAIL_A           |DATDEBVLD |DATCHG    |Dersit|
+-------+-----------+---------------+----------------+------------------+-------+-----------+---------------+----------------+------------------+----------+----------+------+
|B-00002|B00002     |35             |?233            |B00002@biat.com.tn|B-00002|B00002     |35             |?233            |B00002@biat.com.tn|2021-08-04|2021-08-04|1     |
|B-00001|B000211    |222            |?255            |B00001@biat.com.tn|B-00001|B00001     |555            |?278            |B00001@biat.com.tn|2021-08-04|2021-08-04|1     |
+-------+-----------+---------------+----------------+------------------+-------+-----------+---------------+----------------+------------------+----------+----------+------+

In [131]:
edd2.join(edd1,edd2.ID_A ==  edd1.ID_A,"inner") \
     .show(truncate=False)

+-------+-----------+---------------+----------------+------------------+----------+----------+------+-------+-----------+---------------+----------------+------------------+
|ID_A   |USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|EMAIL_A           |DATDEBVLD |DATCHG    |Dersit|ID_A   |USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|EMAIL_A           |
+-------+-----------+---------------+----------------+------------------+----------+----------+------+-------+-----------+---------------+----------------+------------------+
|B-00002|B00002     |35             |?233            |B00002@biat.com.tn|2021-08-04|2021-08-04|1     |B-00002|B00002     |35             |?233            |B00002@biat.com.tn|
|B-00001|B00001     |555            |?278            |B00001@biat.com.tn|2021-08-04|2021-08-04|1     |B-00001|B000211    |222            |?255            |B00001@biat.com.tn|
+-------+-----------+---------------+----------------+------------------+----------+----------+------+-------+-----------+---------------+----------------+------------------+

In [132]:
newInsert = edd1.alias("edd1").join(edd2.alias("edd2"),"ID_A").where("edd2.USER_NAME_A = true and edd1.EMAIL_A <> edd2.EMAIL_A")

In [133]:
newInsert.show()

+----+-----------+---------------+----------------+-------+-----------+---------------+----------------+-------+---------+------+------+
|ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|EMAIL_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|EMAIL_A|DATDEBVLD|DATCHG|Dersit|
+----+-----------+---------------+----------------+-------+-----------+---------------+----------------+-------+---------+------+------+
+----+-----------+---------------+----------------+-------+-----------+---------------+----------------+-------+---------+------+------+

In [121]:
newInsert = edd2.alias("edd2").join(edd2.alias("edd1"),"ID_A").where("edd2.Dersit = true AND(edd2.EMAIL_A <> edd1.EMAIL_A OR edd2.USER_NAME_A <> edd1.USER_NAME_A)")

In [122]:
newInsert.show()

+----+-----------+---------------+----------------+-------+---------+------+------+-----------+---------------+----------------+-------+---------+------+------+
|ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|EMAIL_A|DATDEBVLD|DATCHG|Dersit|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|EMAIL_A|DATDEBVLD|DATCHG|Dersit|
+----+-----------+---------------+----------------+-------+---------+------+------+-----------+---------------+----------------+-------+---------+------+------+
+----+-----------+---------------+----------------+-------+---------+------+------+-----------+---------------+----------------+-------+---------+------+------+

In [10]:
spark.sql("show tables").show()

+--------+---------+-----------+
|database|tableName|isTemporary|
+--------+---------+-----------+
+--------+---------+-----------+

In [8]:
%%sql

UsageError: Cell magic `%%sql` not found.

In [9]:
spark.sql("CREATE DATABASE IF NOT EXISTS employee")

DataFrame[]

In [11]:
spark.sql("USE employee")

DataFrame[]