In [93]:
import pyspark
from pyspark.sql import SparkSession

In [94]:
spark = SparkSession.builder.getOrCreate()

In [95]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *

In [96]:
schema = StructType([StructField('ID_A',StringType(),False),
                    StructField('USER_NAME_A',StringType(),False),
                    StructField('DEPARTMENT_CODE',IntegerType(),False),
                    StructField('INIT_APPLICATION',IntegerType(),False),
                    StructField('EMAIL_A',StringType(),False)])

In [97]:
df_hdfs = spark.read.option("header","true").option("delimiter",",").option("inferSchema","true").csv("hdfs://master.com:8020/user/value/user.txt")

In [98]:
df_hdfs.show()

+-------+-----------+---------------+----------------+------------------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|
+-------+-----------+---------------+----------------+------------------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|
+-------+-----------+---------------+----------------+------------------+

In [99]:
df_hdfs.printSchema()

root
 |-- ID_A: string (nullable = true)
 |-- USER_NAME_A: string (nullable = true)
 |-- DEPARTMENT_CODE: integer (nullable = true)
 |-- INIT_APPLICATION: string (nullable = true)
 |-- EMAIL_A: string (nullable = true)

In [100]:
df_hdfs.count()

7

In [101]:
import time
import datetime
from pyspark.sql.functions import *

In [102]:
datetime

In [103]:
newdf = df_hdfs.withColumn('DAT_SIT',to_date(current_timestamp())).withColumn('DATCHG',to_date(current_timestamp()))

In [104]:
newdf.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|    DATCHG|
+-------+-----------+---------------+----------------+------------------+----------+----------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|
+-------+-----------+---------------+----------------+------------------+----------+----------+

In [105]:
findata=newdf.withColumn("DAT_CSO",lit("null"))

In [106]:
findata.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+-------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|    DATCHG|DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|    999|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+

In [107]:
import pyspark.sql.functions as f

In [108]:
duplicate =findata.join(findata.groupBy(findata.columns).agg((f.count("*")>1).cast("int").alias("Duplicate")),findata.columns,how="inner")

In [109]:
duplicate.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+-------+---------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|    DATCHG|DAT_CSO|Duplicate|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+---------+
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|    999|        0|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|    999|        0|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|    999|        0|
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|    999|        0|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|    999|        0|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|    999|        0|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|    999|        0|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+---------+

In [110]:
findata.coalesce(1).write.csv("hdfs://master.com:8020/user/value/hdfs-user.csv")

In [111]:
df_load = spark.read.option("header","true").csv('hdfs://master.com:8020/user/value/hdfs-user.csv')

In [112]:
df_load.show()

+-------+------+---+----+------------------+-----------+-----------+---+
|B-00001|B00001|555|?278|B00001@biat.com.tn|2021-08-125|2021-08-126|999|
+-------+------+---+----+------------------+-----------+-----------+---+
|B-00002|B00002| 35|?233|B00002@biat.com.tn| 2021-08-12| 2021-08-12|999|
|B-00003|B00003|299|?202|B00003@biat.com.tn| 2021-08-12| 2021-08-12|999|
|B-00004|B00004| 41|?265|B00004@biat.com.tn| 2021-08-12| 2021-08-12|999|
|B-00005|B00005|605|?266|B00005@biat.com.tn| 2021-08-12| 2021-08-12|999|
|B-00006|B00006|125|?233|B00006@biat.com.tn| 2021-08-12| 2021-08-12|999|
|B-00007|B00007|103|?202|B00007@biat.com.tn| 2021-08-12| 2021-08-12|999|
+-------+------+---+----+------------------+-----------+-----------+---+

In [113]:
from pyhive  import  hive
from pyhive import  presto

In [114]:
conn = hive.Connection(host="localhost",port=10000,username="value",database="default")

In [115]:
cnx = conn.cursor()

In [117]:
cnx.execute("CREATE TABLE  O_T24_USER ( ID_A string, USER_NAME_A string, DEPARTMENT_CODE string, INIT_APPLICATION string, EMAIL_A string,DAT_SIT date,DAT_CHG date, DAT_CSO string)ROW FORMAT DELIMITED FIELDS TERMINATED BY ','")

In [118]:
cnx.execute("load data  INPATH 'hdfs://master.com:8020/user/value/hdfs-user.csv' overwrite into table O_T24_USER")

In [119]:
cnx.execute("select * from O_T24_USER")

In [120]:
newschema = cnx.fetchall()

In [121]:
print(newschema)

[('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', '2021-08-12', '2021-08-12', '999'), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', '2021-08-12', '2021-08-12', '999'), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', '2021-08-12', '2021-08-12', '999'), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', '2021-08-12', '2021-08-12', '999'), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', '2021-08-12', '2021-08-12', '999'), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', '2021-08-12', '2021-08-12', '999'), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', '2021-08-12', '2021-08-12', '999')]

In [122]:
df1 = spark.createDataFrame(newschema,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DAT_SIT','DAT_CHG','DAT_CSO'])

In [123]:
df1.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+-------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|   DAT_SIT|   DAT_CHG|DAT_CSO|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-12|2021-08-12|    999|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-12|2021-08-12|    999|
+-------+-----------+---------------+----------------+------------------+----------+----------+-------+