In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql.types import *

In [5]:
df_hdfs = spark.read.option("header","true").option("delimiter",",").option("inferSchema","true").csv("hdfs://master.com:8020/user/value/user1.txt")

In [6]:
df_hdfs.show()

+-------+-----------+---------------+----------------+------------------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|
+-------+-----------+---------------+----------------+------------------+
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|
+-------+-----------+---------------+----------------+------------------+

In [10]:
import time
import datetime
from pyspark.sql.functions import lit,unix_timestamp
import pyspark.sql.functions as f
from pyspark.sql.functions import *

In [11]:
newdf = df_hdfs.withColumn('DAT_SIT',to_date(current_timestamp())).withColumn('DATCHG',to_date(current_timestamp()))

In [12]:
newdf.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD|    DATCHG|
+-------+-----------+---------------+----------------+------------------+----------+----------+
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|2021-08-04|2021-08-04|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04|2021-08-04|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|2021-08-04|2021-08-04|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|2021-08-04|2021-08-04|
+-------+-----------+---------------+----------------+------------------+----------+----------+

In [27]:
findata=newdf.withColumn("DAT_CSO",lit(999))

In [28]:
findata.show()

+-------+-----------+---------------+----------------+------------------+----------+----------+---------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A| DATDEBVLD|    DATCHG|DATFINVLD|
+-------+-----------+---------------+----------------+------------------+----------+----------+---------+
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|2021-08-04|2021-08-04|      999|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04|2021-08-04|      999|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|2021-08-04|2021-08-04|      999|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|2021-08-04|2021-08-04|      999|
+-------+-----------+---------------+----------------+------------------+----------+----------+---------+

In [13]:
from pyhive  import  hive
from pyhive import  presto

In [14]:
conn = hive.Connection(host="localhost",port=10000,username="value",database="default")

In [21]:
cnx = conn.cursor()

In [22]:
cnx.execute("select * from O_T24_USER")

In [23]:
hiveods = cnx.fetchall()

In [24]:
print(hiveods)

[('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04')]

In [25]:
df1= spark.createDataFrame(newschema,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DAT_SIT','DATCHG','DAT_CSO'])

In [26]:
df1.show()

+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|          DATDEBVLD|             DATCHG| DATFINVLD|
+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+

In [37]:
from functools import reduce
from pyspark.sql import DataFrame 
def unionAll(*dfs):
    return reduce(DataFrame.unionAll,dfs)

In [38]:
hivenew = unionAll(df1,findata)

In [40]:
hivenew.show()

+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|          DATDEBVLD|             DATCHG| DATFINVLD|
+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|       999|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|       999|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|       999|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|       999|
+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+

In [41]:
hivenew.coalesce(1).write.csv("hdfs://master.com:8020/user/value/odsN-user.csv")

In [42]:
cnx.execute("load data  INPATH 'hdfs://master.com:8020/user/value/odsN-user.csv' overwrite into table O_T24_USER")

In [43]:
cnx.execute("select * from O_T24_USER")

In [44]:
newschema = cnx.fetchall()

In [45]:
print(newschema)

[('B-00001', 'B000211', '222', '?255', 'B00001@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '999'), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '999'), ('B-00008', 'B00008', '125', '?233', 'B00008@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '999'), ('B-00009', 'B00009', '105', '?105', 'B00009@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '999'), ('B-00001', 'B00001', '555', '?278', 'B00001@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00002', 'B00002', '35', '?233', 'B00002@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00003', 'B00003', '299', '?202', 'B00003@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00004', 'B00004', '41', '?265', 'B00004@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00005', 'B00005', '605', '?266', 'B00005@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00006', 'B00006', '125', '?233', 'B00006@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04'), ('B-00007', 'B00007', '103', '?202', 'B00007@biat.com.tn', datetime.datetime(2021, 8, 4, 0, 0), datetime.datetime(2021, 8, 4, 0, 0), '2021-08-04')]

In [46]:
df1= spark.createDataFrame(newschema,['ID_A','USER_NAME_A','DEPARTMENT_CODE','INIT_APPLICATION','EMAIL_A','DAT_SIT','DAT_CHG','DAT_CSO'])

In [47]:
df1.show()

+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+
|   ID_A|USER_NAME_A|DEPARTMENT_CODE|INIT_APPLICATION|           EMAIL_A|          DATDEBVLD|             DATCHG| DATFINVLD|
+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+
|B-00001|    B000211|            222|            ?255|B00001@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|       999|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|       999|
|B-00008|     B00008|            125|            ?233|B00008@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|       999|
|B-00009|     B00009|            105|            ?105|B00009@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|       999|
|B-00001|     B00001|            555|            ?278|B00001@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00002|     B00002|             35|            ?233|B00002@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00003|     B00003|            299|            ?202|B00003@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00004|     B00004|             41|            ?265|B00004@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00005|     B00005|            605|            ?266|B00005@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00006|     B00006|            125|            ?233|B00006@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
|B-00007|     B00007|            103|            ?202|B00007@biat.com.tn|2021-08-04 00:00:00|2021-08-04 00:00:00|2021-08-04|
+-------+-----------+---------------+----------------+------------------+-------------------+-------------------+----------+